#board{
    
    width: 80vh;
    height: 80vh;
    background-color: white;

    display: grid;
    place-content: center;

    grid-template-columns: repeat(8, 10vh);
    grid-template-rows: repeat(8, 10vh);
}