.tile{
    width: 10vh;
    height: 10vh;
    background-color: forestgreen;

    display: grid;
    place-content: center;
    background-position: center;

    border-style: solid;
    border-width: 0.6vh;
    border-color: black;
}

.tile .piece {
    width: 10vh;
    height: 10vh;
    
    display: grid;
    place-content: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 8vh;
}

.tile .piece:active {
    cursor: grabbing;
}

.tile .candidate{
    opacity: 0.4;

    display: grid;
    place-content: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 4.5vh;
    width: 8vh;
    height: 8vh;
}

.tile .candidate:hover{
    opacity: 0.8;
    cursor:pointer;
    background-size: 5vh;
}
