.tile{
    width: min(10vw, 10vh);
    height: min(10vw, 10vh);
    background-color: forestgreen;

    display: grid;
    place-content: center;
    background-position: center;

    border-style: solid;
    border-width: min(0.5vw, 0.5vh);
    border-color: black;
}

.tile .piece {
    width: min(10vw, 10vh);
    height: min(10vw, 10vh);
    
    display: grid;
    place-content: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: min(8vw, 8vh);
}

.tile .piece:active {
    cursor: grabbing;
}

.tile .candidate{
    opacity: 0.4;

    display: grid;
    place-content: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: min(4.5vw, 4.5vh);
    width: min(8vw, 8vh);
    height: min(8vw, 8vh);
}

.tile .candidate:hover{
    opacity: 0.8;
    cursor:pointer;
    background-size: min(5vw, 5vh);
}
