h3 {
    color: whitesmoke;
    -webkit-text-stroke: min(0.3vw, 0.3vh) black;
    text-align: center;
    font-size: min(4.5vw, 4.5vh);
}

.tile{
    width: min(10vw, 10vh);
    height: min(10vw, 10vh);
    background-color: forestgreen;

    display: grid;
    place-content: center;
    background-position: center;

    border-style: solid;
    border-width: min(0.5vw, 0.5vh);
    border-color: black;
}

.text{
    width: min(40vw, 40vh);
    height: min(10vw, 10vh);
    background-color: darkslategray;

    display: grid;
    place-content: center;
    background-position: center;
}

.tile .piece {
    width: min(10vw, 10vh);
    height: min(10vw, 10vh);
    
    display: grid;
    place-content: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: min(8vw, 8vh);
}

.tile .piece:active {
    cursor: grabbing;
}

.tile .candidate{
    opacity: 0.4;

    display: grid;
    place-content: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: min(4.5vw, 4.5vh);
    width: min(8vw, 8vh);
    height: min(8vw, 8vh);
}

.tile .candidate:hover{
    opacity: 0.8;
    cursor:pointer;
    background-size: min(5vw, 5vh);
}

.tile .button0{
    background-image: linear-gradient(180deg, rgb(182, 255, 182), rgb(110, 255, 110) 40%, rgb(91, 253, 91));
    width: min(10vw, 10vh);
    height: min(10vw, 10vh);
    border-width: min(0.5vw, 0.5vh);
    border-color: black;
}
.tile .button1{
    background-image: linear-gradient(180deg, rgb(252, 252, 252), rgb(243, 255, 73) 40%, rgb(186, 219, 0));
    width: min(10vw, 10vh);
    height: min(10vw, 10vh);
    border-width: min(0.5vw, 0.5vh);
    border-color: black;
}
.tile .button2{
    background-image: linear-gradient(180deg, rgb(255, 236, 182), rgb(255, 216, 110) 40%, rgb(253, 177, 91));
    width: min(10vw, 10vh);
    height: min(10vw, 10vh);
    border-width: min(0.5vw, 0.5vh);
    border-color: black;
}
.tile .button3{
    background-image: linear-gradient(180deg, rgb(255, 182, 182), rgb(255, 110, 110) 40%, rgb(253, 91, 91));
    width: min(10vw, 10vh);
    height: min(10vw, 10vh);
    border-width: min(0.5vw, 0.5vh);
    border-color: black;
}

.tile .button0:hover{
    cursor:pointer;
    background-image: linear-gradient(100deg, rgb(182, 255, 182), rgb(110, 255, 110) 40%, rgb(91, 253, 91));
    border-width: min(0.5vw, 0.5vh);
}
.tile .button1:hover{
    cursor:pointer;
    background-image: linear-gradient(100deg, rgb(255, 255, 255), rgb(243, 255, 73) 40%, rgb(186, 219, 0));
    border-width: min(0.5vw, 0.5vh);
}
.tile .button2:hover{
    cursor:pointer;
    background-image: linear-gradient(100deg, rgb(255, 236, 182), rgb(255, 216, 110) 40%, rgb(253, 177, 91));
    border-width: min(0.5vw, 0.5vh);
}
.tile .button3:hover{
    cursor:pointer;
    background-image: linear-gradient(100deg, rgb(255, 182, 182), rgb(255, 110, 110) 40%, rgb(253, 91, 91));
    border-width: min(0.5vw, 0.5vh);
}

.tile .button0:active {
    cursor: grabbing;
}
.tile .button1:active {
    cursor: grabbing;
}
.tile .button2:active {
    cursor: grabbing;
}
.tile .button3:active {
    cursor: grabbing;
}